<StackLayout #container>
    <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>
      <TextField hint="Email Adress" keyboardType="email" [(ngModel)]="user.email"
        autocorrect="false" autocapitalization="none"></TextField>
      <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
      
      <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" class="submit-button" (tap)="submit()"></Button>
      <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>
  </StackLayout>